.section_contato{
    height: 680px;
    width: 100%;
    filter: brightness(.65) opacity(4.75);
    background-attachment: scroll;
    color: white;
}

.box_content{
    position:absolute;
    margin-top: -590px;
    margin-left: 50%;
    background-color:rgba(0, 0, 0, 0.329);
    height: 500px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.507);
    display: block;
    padding: 20px;
}

#txt_t_contato{
    position: relative;
    padding: 20px;
    color: white;
}

.input{
    position: relative;
    background-color: rgba(0, 0, 0, 0.333);
    width: 205px;
    height: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 2px solid rgba(128, 128, 128, 0.452);
    color: rgba(255, 255, 255, 0.594);
    border-radius: 3px;
    padding: 10px;

}

.botao_form{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.768);
}

hr{
    width: 50%;
}

h2{
    font-size: 45px;
    color:#449dd8;
    font-family:'Monst', Times, serif;
    background-color: white;
}

.content_mae{
    background-color:black;
}

.content_informacoes_de_contato{
    color: white;
    height: 300px;
    margin-top: 20px;
    align-items: center;
    background-color: black;
}

ul{
  display: block;
  background-color: black;
}


.logo_h{
     margin-top: 15px;
}

.content_local{
     margin-top: 39px;
     color: white;
     background-color:black;
}

.content_local h3{
    margin-left: 70px;
}

iframe{
    margin-left: 70px;

}

#contact-info {
    padding: 40px 20px;
    background-color:black;
    color: white;
    text-align: center;
}

#contact-info p{
   margin-left: 70px;
}

footer p{
    margin-left: 90px;
}


footer{
    margin-top: 0%;
    margin-bottom: -50%;
    background-color: rgb(10, 10, 10);
   
    padding: 10px;
    color: white;
    text-align: center;
    width: 99%;
    margin-right: -1px;
}
