.box_content{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 860px;
    height: 600px;
    background-color:  #07f0f0d3;
    border-radius: 6px;
    color:white;
    border: solid  #07f0f0d3;
   
}

h1{
    padding: 20px;
}