@charset "UTF-8";


:root{
    --cor01: #1948e2;
    --cor02: #31B1B0;
    --cor03: #3B7070;
    --cor04: #0273be;
    --cor05:  rgb(77, 77, 77);
}


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: "Monst";
    src: url("fonte/MontserratAlternates-Italic.ttf") 
    format(truetype);
    font-weight: normal;
    font-style: normal;
}

header{
    height: 150px;
    left: -20px;
}

header > a{

    background-color: var(--cor04)
}

header img#logo{
    padding-left: 10px;
    padding-right: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: var(--cor04);
    display: block;
}

header h1{
    position: absolute;
    top: 15px;
    left: 250px;
    display: flex;
    font-size:40px;
    flex-direction: row-reverse;
}


header nav{
    background-color: var(--cor04);
    display: flex;
    flex-direction: row-reverse;
}

nav a{
    margin: 3px;
    text-decoration: none;
    padding: 12px;
    color: white;
    transition: 1.5s;
    font-size: 18px;
}

nav a:hover{
     background-color: rgba(0, 198, 233, 0.589);
     color: black;
     border-radius: 3px;
}

@font-face{
    font-family: "Monst";
    src: url("fonte/MontserratAlternates-Italic.ttf") 
    format(truetype);
    font-weight: normal;
    font-style: normal;
}

.espaço{
    height: 5px;
}

.espaço2{
     height: 50px;
}



article#conteudos{
    width: 98.5%;
    padding: 10px;
    display: flex;
    margin-right: 0px;
    justify-content:center;
    background-color: #ffc341;
    color: white;
    margin-bottom: -40px;

}

@media (max-width: 1024px) {
    article#conteudos{
        border-radius: 10px;
    }
    article#conteudos p{
        margin: 10px;
    }
}

#conteudo-1{
    text-align:left;
    width: 600px;
    margin-right: 50px;
    margin-top: 70px;
}

#imagem_livros{
    justify-content: left;
    height: 240px;
    width: 250px;
    margin-right: 90px;
    margin-top: 30px;
}

section h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color:#449dd8;
    font-family:'Monst', Times, serif;
}

.espaço4{
    height: 30px;
}


section article p{
    width: 90%;
    height: 100px;
    justify-content: center;/*tava com pressaaaaaaaaaaaa, e também não tava conseguindo*/
    margin-left: 65px;
}


section .box_itinerario{
    width: 100%;
    justify-content: center;

}
.box_itinerario{
      position: relative;
      margin-top: -20px;
      height: 260px;
      width:800px ;
      display:flex;
      place-items: center;
}

.box_itinerario div{
    position: relative;
    height: 190px;
    width: 540px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #13131f6d;
   /* box-shadow: 12px 12px 2px 1px #13131f6d;*/
    transition: 1s;   
}

.box_itinerario div:hover{
    position: relative;
    top: -13px;
    box-shadow:4px 6px 14px #13131f6d;
   /* box-shadow: 6px 6px 2px 1px #13131f6d;*/
   
} 

.imagem {
    margin: 18px;
    margin-top: 20px;
    border-radius: 7px;
    height: 140px;
    width: 200px;
}

#html{
    position: relative;
    top: 50px;
    margin-left: 670px;
    width: 8%;
    height: 17%;
}

#mundo{
    position: relative;
    top: 20px;
    left: 70px;
    width: 11%;
    height: 23%;
}

#DNA{
    position: relative;
    top: -50px;
    left: 680px;
    width: 5%;
    height: 13%;
}
.box_itinerario article{

    margin-top: -160px;
    margin-left: 170px;
    width: 56%;
    height: 280px;
    font-size: 12px;
    text-align:left;
    justify-content: center;
    height: 80px;

}


main{
    width: 100%;
    height: 370px;
}

.swiper{
    position: relative;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 40px;
    margin-top: -40px;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_img img{
    border-radius: 6px;
}

div button{
    height: 35px;
    position: relative;
    width: 85px;
    border-radius: 10px;
    border: none;
    background-color:black;
    color: white;
    margin: 20px;
    margin-left: 80%;
}

#conteudo3 p{
     text-align: center;
     font-size: 14px;
}

.contente_clube{
    margin-top: 90px;
    display: block;
    height: 75%;
    padding: 20px;
    width: 96.7%;
    margin-right: 0px;
    justify-content: center;
}


.lista_clubes{
    display: block;
    width: 100%;
    height: 620px;
    margin-bottom: 40px;
    justify-items: center;
    padding-top: 30px;
}

.img_liste_clubes{
    height: 98%;
    width: 95%;
    margin: 10px;
    margin-left: 14px;
    border-radius: 5px;
}

.clubes_geral{
    margin: 20px;
    margin-top: 30px;
    background-color: white;
    height: 220px;
    width: 280px;
    border-radius: 5px;
    border: 2px solid black;
    padding-bottom: 20px;
    transition: 0.9s;
}


.sub_lit_clubes{
    
    justify-content: center;
    margin-left: 30px;
}

.sub_lit_clubes_2{
    justify-content: center;
    margin-left: 30px;
}

.clubes_geral_2{
    margin: 20px;
    margin-top: 30px;
    background-color: white;
    height: 220px;
    width: 280px;
    border-radius: 5px;
    border: 2px solid black;
    padding-bottom: 20px;
    padding-left: 3px;
    transition: 0.9s;
}

.clubes_geral:hover{
     background-color: black;
     margin-bottom: 60px;
}

.clubes_geral_2:hover{
    background-color: black;
    margin-bottom: 60px;
}


.content_mural{
    padding: 30px;
    text-align: center;
    margin-top: 10%;
}

.fala_imag{
    width: 6%;
}

.v_escola{
    align-items: center;
    text-align: center;
    margin-top: 7%;
    padding: 30px;

}

iframe{
    border-radius: 8px;
}

.content_noticias{
    width: 1200px;
    height: 450px;
    border: 2px solid black ;
}

ul{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    align-items: center;
}

li{
    margin: 35px;
    margin-left: 85px;
    transition: 1s;
    padding: 25px;
}


#elemento_1:hover{
    margin-top: 65px;
    background-color: black;
    color: white;

}
#elemento_2:hover{
    margin-top: 65px;
    background-color: black;
    color: white;

}

#elemento_3:hover{
    margin-top: 65px;
    background-color: black;
    color: white;

}

#elemento_4:hover{
    margin-top: 65px;
    background-color: black;
    color: white;
}

#contente_n_txt{
    width: 1000px;
    height: 150px;
    background-color:white;
    border-radius: 5px;
}




footer{
    margin-top: 10%;
    margin-bottom: -50%;
    background-color: rgb(10, 10, 10);
    padding: 10px;
    color: white;
    text-align: center;
    width: 98.5%;
    margin-right: -1px;
}








/* Layout Responsivo */
@media (max-width: 814px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .box_content {
        width: 90%;
        margin: auto;
    }

    .swiper img {
        width: 100%;
        height: auto;
    }

    .box_itinerario {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 814px) {

    #conteudo3 p{
        text-align: center;
        font-size: 12px;
        background-color: #0273be;
        margin: 5px;
        margin-left: -20px;
        width: 490px;
        padding: 5px;
     }

    .contente_clube{
        margin-top: 90px;
        display: block;
        height: 75%;
        padding: 20px;
        width: 96.7%;
        justify-content: center;
        background-color: #ffc341;
    }
    
    
    .lista_clubes{
        display: block;
        width: 80%;
        height: 420px;
        margin-bottom: 40px;
        justify-items: center;
        padding: 30px;
        padding-left: 0%;
        background-color: red;
        margin-left: -5%;
    }
    
    .img_liste_clubes{
        height: 98%;
        width: 95%;
        margin: 10px;
        margin-left: 1.5%;
        border-radius: 5px;
    }
    
    .clubes_geral{
        margin:2%;
        margin-left: 5px;
        margin-top: 30px;
        background-color: white;
        height: 120px;
        width: 140px;
        border-radius: 5px;
        border: 2px solid black;
        padding-bottom: 20px;
        padding-left: 3px;
        transition: 0.9s;
    }
    
    
    .sub_lit_clubes{
        
        justify-content: center;
        margin-left: 30px;
    }
    
    .sub_lit_clubes_2{
        justify-content: center;
        margin-left: 30px;
    }
    
    .clubes_geral_2{
        margin: 1%;
        margin-top: 30px;
        background-color: white;
        height: 120px;
        width: 140px;
        border-radius: 5px;
        border: 2px solid black;
        padding-bottom: 20px;
        padding-left: 3px;
        transition: 0.9s;
    }
    
    .clubes_geral:hover{
         background-color: black;
         margin-bottom: 60px;
    }
    
    .clubes_geral_2:hover{
        background-color: black;
        margin-bottom: 60px;
    }

    .v_escola{
        align-items: center;
        margin-top: 7%;
        padding: 3px;
        background-color: greenyellow;
        
    }

    .v_escola iframe {
            width:91% ;
            height: 220px;
    }
}

@media (max-width: 814px) {

    .swiper {
        width: 100%;
        margin: 0 auto;
    }

    .content_noticias {
        width: 100%;
        height: 380px;
        background-color: blueviolet;
    }

    #contente_n_txt{
        width: 95%;
        height: 150px;
        background-color:red;
        border-radius: 5px;
    }

    .content_noticias ul {
        background-color: yellow;
        width: 100%;
        margin-bottom: 10%;
    }

    .content_noticias li{
        margin: 5px;
        margin-left: 15px;
        transition: 1s;
        padding: 5px;
        background-color: red;
        font-size: 12px;
    }
}


@media (max-width: 814px){
   .itinerario {
     background-color: #ffc341;
   }

   .content_mural{
    background-color: aqua;
   }
}

